@using Sitecore.Mvc

<div class="row">
    <div class="col-xs-12">
        <main role="main" class="section-loading">

            @Html.Sitecore().Placeholder("faq_overview")

        </main>
    </div>
</div>

